# Capstone Project 1 - Group ID - 1026

Amar Sheth

###### Import Packages

In [ ]:
import mysql.connector as mysql_conn
from mysql.connector import Error

import pandas as pd

###### Define Variable

In [ ]:
MYSQL_USER = MYSQL_PWD = "student"
MYSQL_HOST = "cpanel.insaid.co"
MYSQL_DB = "Capstone1"

###### Connect to Database function

In [ ]:
def connect_db():
    return mysql.connector.connect(
        host=MYSQL_HOST,
        user=MYSQL_USER,
        passwd=MYSQL_PWD,
        database=MYSQL_DB,
        connect_timeout=1000000,
        buffered=True
    )

###### Execute Query function

In [ ]:
def execute_query(query, connection):
    df = pd.read_sql(query, con = connection)
    return df

In [ ]:
def get_data(query):
    df = pd.DataFrame()
    try:
        db_connection = connect_db()
    
        if db_connection.is_connected():
            df = execute_query(query, db_connection)
    
    except Error as e:
        print("Error while connecting to MySQL", e)
        print("Error code:", e.errno)
        print("Error message:", e.msg)
    finally:
        if (db_connection.is_connected()):
            cursor.close()
            db_connection.close()
            print("MySQL connection is closed")
    
    return df

###### Retreive Event Data

In [ ]:
event_data_query_mp = "SELECT * FROM events_data where state in ('MadhyaPradesh') " 
df_event_data_mp = get_data(event_data_query_mp)

event_data_query_other = "SELECT * FROM events_data where state in ('Chhattisgarh', 'Uttaranchal', 'JammuandKashmir', 'JammuandKashmir', 'Goa', 'Nagaland') " #where state in ('MadhyaPradesh')
df_event_data_other = get_data(event_data_query_other)

df_event_data = pd.concat([df_event_data_mp, df_event_data_other])

df_event_data.head()

###### Retreive Gender Age Data

In [ ]:
gender_age_train_query = "SELECT * FROM gender_age_train WHERE device_id IN (SELECT DISTINCT device_id from events_data where state in ('MadhyaPradesh', 'Chhattisgarh', 'Uttaranchal', 'JammuandKashmir', 'JammuandKashmir', 'Goa', 'Nagaland')) "
df_gender_age_train = get_data(gender_age_train_query)
df_gender_age_train

###### Retreive Phone Brand Device Data

In [ ]:
phone_brand_device_modal_query = "SELECT * FROM phone_brand_device_model WHERE device_id IN (SELECT DISTINCT device_id from events_data where state in ('MadhyaPradesh', 'Chhattisgarh', 'Uttaranchal', 'JammuandKashmir', 'JammuandKashmir', 'Goa', 'Nagaland')) "
df_phone_brand_device_modal = get_data(phone_brand_device_modal_query)
df_phone_brand_device_modal